
@font-face {
  font-family: 'Shadows Into Light';
  src: url(./ShadowsIntoLight.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Aref Ruqaa Ink';
    src: url(./ArefRuqaaInk.ttf);
    font-weight: 600;
    font-style: normal;
  }

body {
    /* background: royalblue; */
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#header {
    font-family: 'Shadows Into Light', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

#main {
    width: 100%;
    background: #ff90e94b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav {
    padding: 2%;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: min(3rem, 20vw);

}

#nav > button {
    font-family: 'Aref Ruqaa Ink', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ff90e8;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 0.3;
    overflow: hidden;
    padding: 10px 20px;
    padding-top: 5px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

#nav >button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}

#nav > button:focus-visible{
    outline-offset: 1px;
}

#footer {
    font-size: smaller;
}